.row {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;

    .col {
        flex: 1 1 auto;

        @include breakpoint(sm) {
            flex: 1 1 0;
        }
    }

    // flex grid with breakpoints
    $flex-breakpoints: xs sm md lg xlg;

    // default
    @for $i from 12 through 1 {
        .col-#{$i} {
            width: percentage(($i/12));
            max-width: percentage(($i/12));
            flex: percentage(($i/12));
        }
    }

    @each $flex-breakpoint in $flex-breakpoints {
        @include breakpoint($flex-breakpoint) {
            @for $i from 12 through 1 {
                .col-#{$flex-breakpoint}-#{$i} {
                    width: percentage(($i/12));
                    max-width: percentage(($i/12));
                    flex: percentage(($i/12));
                }
            }
        }
    }
}
