// base font size
$base-font-size: 16px;
$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// colors
$white: #fff;
$black: #000;

$rich-black: #01161e;
$midnight-green: #527786;

$steel-teal: #688e9B;
$ash-gray: #aec3b0;
$beige: #eff6e0;

// interface colors
$main-bg: $midnight-green;
$item-bg: $rich-black;

$main-font-color: $steel-teal;
$second-font-color: $ash-gray;
